<div class="content">
  <div class="about_box">
    <h2><a id="about"></a>ABOUT ME</h2>

    <p class="imgwrap"> 
      <img src = "../assets/adrien-chaussabel-picture.jpg"></p>
      <p>
      I am a student at California Polytechnic State University, also known as Cal Poly - San Luis Obispo.
      Currently in my fourth and final year as a Software Engineering major with experience in full-stack development and data science.
      I am currently finishing up an internship at Microsoft, and looking for full-time opportunities starting in Summer 2021.
      In my free time I like to play video games, follow eSports, swim, run, and code.
    </p>
  </div>
</div>
