.container {
  margin: auto;
  width:fit-content;
  height:fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
}

.soclink {
  background-color: midnightblue;
  width: fit-content;
  height: fit-content;
  margin: .3em;
  border-radius: 1rem;
  font-size: 36px;
  text-align: center;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.soclink:hover {
  background-color: #8181F7;
}