<div class="content">
  <div class="experiencebox">
    <h2 class="header">EXPERIENCE</h2>
    <a id="experience"></a>
    <h2> <i class="fa fa-windows" style="font-size:36px"></i> Microsoft</h2>
    <h4>Software Engineer Intern</h4>
      <ul>
        <li>Implemented caching for calls made to the Microsoft Graph for the Microsoft Graph Toolkit. </li>
        <li>Caching is handled using IndexedDB and is designed to be configured by users. </li>
        <li>Users can toggle whether the cache is active or not and customize timeout periods.</li>
      </ul>

    <h2><img src="\assets\chevron_logo_color.png" class="chevron_logo"> Chevron </h2>    
    <h4>Software Engineer Intern</h4>
    <ul>
      <li>Developed verbose exception handling for APIs with multiple endpoints to increase transparency in testing & debugging</li>
      <li>Created an Azure alert system that monitors APIs for failed requests and automatically sends emails if exceptions are detected within a given timeframe</li>
      <li>Wrote REST API wrappers for four SOAP Oracle Primavera APIs to be used by internal teams</li>
    </ul>
  </div>
</div>