<div class="content">
  <div class="experiencebox">
    <h2 class="header">EXPERIENCE</h2>
    <a id="experience"></a>
    <h2> <i class="fa fa-windows" style="font-size:36px"></i> Microsoft</h2>
    <h4>Software Engineer Intern</h4>
    <p>Implemented caching for calls made to the Microsoft Graph for the Microsoft Graph Toolkit. 
      Caching is handled using IndexedDB and is designed to be configured by users. 
      Users can toggle whether the cache is active or not and customize timeout periods.</p>

    <h2><img src="\assets\chevron_logo_color.png" class="chevron_logo"> Chevron </h2>    
    <h4>Software Engineer Intern</h4>
    <P>Chevron Info</P>

    <h2><img src="\assets\cp_logo_text.png" class="cp_logo"> California Polytechnic State University </h2>    
    <h4>Instructional Student Assistant</h4>
    <P>Cal Poly TA Info</P>
  </div>
</div>